<%= form_for(@deck) do |f| %>
  <% if @deck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deck.errors.count, "error") %> prohibited this deck from being saved:</h2>

      <ul>
      <% @deck.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field" id="cardsDiv">
    <%= f.label :cards %>
    <%= f.text_field :cards %> <a href="#" onclick="showNewCardUI()">Insert new card</a>
		<br><br>
  </div>
	Please enter runes as comma separated values
  <div class="field">
    <%= f.label :runes %><br>
    <%= f.text_field :runes %>
  </div>
	<div class="field">
		<%= f.label :demon_name %><br>
		<%= f.select(:demon_name, options_for_select([["Sea King","Sea King"], ["Dark Titan","Dark Titan"], ["Mars","Mars"], ["Bahamut","Bahamut"], ["Plague Ogryn","Plague Ogryn"], ["Deucalion","Deucalion"], ["Pandarus", "Pandarus"]])) %>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script type="text/javascript">

	
//	function setCardsTextValue() {
//	  $('#deck_cards')[0].value = "";
//	  $('.cardinfo').each(function(i) {
//	    $('#deck_cards')[0].value += this.value;
//	    if(i != ($('.cardinfo').length - 1)) {
//	      $('#deck_cards')[0].value += ",";
//	    }
//	  })
//	}

//	function createCard(cardEntry) {
//	  var cardEntryArr = cardEntry.split(";");
//	  var newCard = document.createElement("div");
//	  var newCardInfo = document.createElement("input");
//	  var removeSpan = document.createElement("span");
//	  newCard.innerText = cardEntryArr[0] + " (" + cardEntryArr[1] + ") " + (cardEntryArr.length > 2 ? cardEntryArr[2] : "");
//	  newCard.appendChild(removeSpan);
//	  removeSpan.innerText = " ";
//	  removeSpan.style.width = "10px";
//	  removeSpan.style.height = "10px";
//	  removeSpan.style.backgroundColor = "red";
//	  removeSpan.style.textAlign = "right";
//	  removeSpan.style.top = "0";
//	  removeSpan.style.right = "0";
//	  removeSpan.style.position = "absolute";
//	  removeSpan.style.cursor = "pointer";
//	  removeSpan.onclick = function(e) { this.parentNode.remove();setCardsTextValue(); };
//	  newCard.appendChild(newCardInfo);
//	  newCardInfo.type = "hidden";
//	  newCardInfo.value = cardEntry;
//	  newCardInfo.className = "cardinfo";
//	  newCard.style.backgroundColor = "turquoise";
//	  newCard.style.padding = "10px"
//	  newCard.style.margin = "10px";
//	  newCard.style.display = "inline";
//	  newCard.style.position = "relative";
//	  $('#cardsDiv')[0].appendChild(newCard);
//	}
	$( document ).ready(function() {
		var cardsValue = $('#deck_cards')[0].value;
		if(cardsValue != "") {
			cardsValue.split(",").forEach(function(val) { createCard(val); });
		}
	});
</script>
