<%= form_for(@deck) do |f| %>
  <% if @deck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deck.errors.count, "error") %> prohibited this deck from being saved:</h2>

      <ul>
      <% @deck.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field" id="cardsDiv">
    <%= f.label :cards %>
    <%= f.text_field :cards %> <a href="#" onclick="showNewCardUI()">Insert new card</a>
		<br><br>
  </div>
	Please enter runes as comma separated values
  <div class="field">
    <%= f.label :runes %><br>
    <%= f.text_field :runes %>
  </div>
	<div class="field">
		<%= f.label :demon_name %><br>
		<%= f.select(:demon_name, options_for_select([["Sea King","Sea King"], ["Dark Titan","Dark Titan"], ["Mars","Mars"], ["Bahamut","Bahamut"], ["Plague Ogryn","Plague Ogryn"], ["Deucalion","Deucalion"], ["Pandarus", "Pandarus"]])) %>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script type="text/javascript">
	$( document ).ready(function() {
		var cardsValue = $('#deck_cards')[0].value;
		if(cardsValue != "") {
			cardsValue.split(",").forEach(function(val) { createCard(val); });
		}
	});
</script>
