<p id="notice"><%= notice %></p>

<h1>Listing Decks</h1>

<div>
	<% @decks.each do |deck| %>
		<div id="deck_div">
		<dl>
			<dt>Name</dt>
			<dd><%= deck.name %></dd>
			<dt>Cards</dt>
			<dd>
				<%= deck.cards %>
			</dd>
			<dt>Runes</dt>
			<dd>
				<%= deck.runes %>
			</dd>
			<dt>Actions</dt>
			<dd><%= link_to 'Show', deck %></dd>
			<dd><%= link_to 'Edit', edit_deck_path(deck) %></dd>
			<dd><%= link_to 'Destroy', deck, method: :delete, data: { confirm: 'Are you sure?' } %></dd>
		</dl>
		</div>
	<% end %>
</div>

<%= link_to 'New Deck', new_deck_path %>
