<p id="notice"><%= notice %></p>

<h1>Listing Decks</h1>
<% if !current_user.nil? %>
Current level: <%= current_user.level %>  <%= link_to 'Edit user info', edit_user_registration_path %><br/>
<a id="showcardslistlink" href="#" onclick="$('#cardslistdiv').show();$('#showcardslistlink').hide();">Show cardslist</a>
<div id="cardslistdiv">
	<a href="#" onclick="$('#cardslistdiv').hide();$('#showcardslistlink').show();">Hide cardslist</a>
	<%= form_for current_user, url: user_registration_path do |f| %>
		<%= f.text_area :cardslist %>
		<%= f.submit 'Save' %>
	<% end %>
</div>
<% end %>
<% if defined?(@decks) && !@decks.nil? %>
	<div id="decks_div">
		<% @decks.each do |deck| %><div>
				<dl>
					<dt>Name</dt>
					<dd><%= deck.name %></dd>
					<dt>Cards</dt>
					<dd>
						<% deck.cards.split(',').each do |card| %>
							<%= card %><br>
						<% end %>
					</dd>
					<dt>Runes</dt>
					<dd>
						<% deck.runes.split(',').each do |rune| %>
							<%= rune %><br>
						<% end %>
					</dd>
					<dt>Demon Name</dt>
					<dd><%= deck.demon_name %></dd>
					<dt>Actions</dt>
					<dd><%= link_to 'Show', deck %></dd>
					<dd><%= link_to 'Edit', edit_deck_path(deck) %></dd>
					<dd><%= link_to 'Destroy', deck, method: :delete, data: { confirm: 'Are you sure?' } %></dd>
					<dd><%= link_to 'Sim', sim_deck_path(deck) %></dd>
				</dl>
			</div><% end %>
	</div>
<% end %>

<%= link_to 'New Deck', new_deck_path %>
