<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @deck.name %>
</p>

<p>
  <strong>Cards:</strong>
  <span id="deck_cards"> <%= @deck.cards %> </span>
	<div id="cardsDiv"></div>
</p>

<p>
  <strong>Runes:</strong>
  <%= @deck.runes %>
</p>

<p>
	<strong>Demon name:</strong>
	<%= @deck.demon_name %>
</p>

<%= link_to 'Edit', edit_deck_path(@deck) %> |
<%= link_to 'Back', decks_path %>

<script type="text/javascript">
  $( document ).ready(function() {
		var cardsValue = $('#deck_cards')[0].innerText.trim();
		if(cardsValue != "") {
			cardsValue.split(",").forEach(function(val) { createCard(val); });
		}
		$('.arrow').each(function(i) { this.remove(); });
	});
</script>
