<!DOCTYPE html>
<html>
<head>
  <title>Jsdemonsimonline</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if defined?(current_user) && !current_user.nil? %>
	<div id="user_div">
		Currently logged in as: <%= current_user.email %>
		<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
	</div>
<% end %>
Created, designed and written by [ASC]Azh on Destiny EK server (Azh on LINE). Uses jsdemonsim <a href="https://github.com/Jsdemonsim/demonsim">(https://github.com/Jsdemonsim/demonsim)</a>.
<br>If you have not used the jsdemonsim before, please follow the link for instructions (especially to download the cards.txt from the zip archive).
<%= yield %>

</body>
</html>
