<!DOCTYPE html>
<html>
<head>
  <title>Jsdemonsimonline</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if defined?(current_user) && !current_user.nil? %>
	<div id="user_div">
		Currently logged in as: <%= current_user.email %>
		<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
	</div>
<% end %>

<%= yield %>

</body>
</html>
